 /* css/_layout.css */

 .app-container {
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #FFFDF5;
    border-bottom: 1px solid #EFEBE9;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #A1887F;
}

.main-nav a {
    margin-left: 20px;
    font-size: 1em;
}

.main-layout {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: #FFF9E8;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #FFFDF5;
    flex-shrink: 0;
    height: calc(100vh - 71px);
    position: sticky;
    top: 71px;
}
 .sidebar-scroll-content {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
}
.left-sidebar {
    flex: 0 0 240px;
    border-right: 1px solid #EFEBE9;
}
.right-sidebar {
    flex: 0 0 260px;
    border-left: 1px solid #EFEBE9;
    padding: 20px;
    overflow-y: auto;
}

.content-area {
    flex: 1;
    padding: 25px;
    overflow-y: auto;
    height: calc(100vh - 71px);
}